@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/Ubuntu/Ubuntu-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/Ubuntu/Ubuntu-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Ubuntu/Ubuntu-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'EssentialIconsV2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/EssentialIconsV2-400-normal.woff') format('woff');
}

@font-face {
  font-family: 'FilmIndustryIconsV2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/FilmIndustryIconsV2-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'GadgetIconsV2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/GadgetIconsV2-400-normal.woff') format('woff');
}

@font-face {
  font-family: 'UiconsThinStraightV2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/UiconsThinStraightV2-400-normal.woff2') format('woff2');
}
