@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-3d-glasses:before { content: "\f100"; }
.flaticon-002-accreditation:before { content: "\f101"; }
.flaticon-003-actors:before { content: "\f102"; }
.flaticon-004-actress:before { content: "\f103"; }
.flaticon-005-age-limit:before { content: "\f104"; }
.flaticon-006-animation:before { content: "\f105"; }
.flaticon-007-audio-editing:before { content: "\f106"; }
.flaticon-008-award:before { content: "\f107"; }
.flaticon-009-camera:before { content: "\f108"; }
.flaticon-010-camera-dolly:before { content: "\f109"; }
.flaticon-011-camera-drone:before { content: "\f10a"; }
.flaticon-012-cinema:before { content: "\f10b"; }
.flaticon-013-clapperboard:before { content: "\f10c"; }
.flaticon-014-comedy:before { content: "\f10d"; }
.flaticon-015-countdown:before { content: "\f10e"; }
.flaticon-016-director:before { content: "\f10f"; }
.flaticon-017-director-chair:before { content: "\f110"; }
.flaticon-018-dress:before { content: "\f111"; }
.flaticon-019-dressing-room:before { content: "\f112"; }
.flaticon-020-film-editing:before { content: "\f113"; }
.flaticon-021-film-reel:before { content: "\f114"; }
.flaticon-022-hearts:before { content: "\f115"; }
.flaticon-023-horror-movie:before { content: "\f116"; }
.flaticon-024-lens:before { content: "\f117"; }
.flaticon-025-make-up:before { content: "\f118"; }
.flaticon-026-megaphone:before { content: "\f119"; }
.flaticon-027-microphone:before { content: "\f11a"; }
.flaticon-028-mixer:before { content: "\f11b"; }
.flaticon-029-money:before { content: "\f11c"; }
.flaticon-030-movie-roll:before { content: "\f11d"; }
.flaticon-031-music:before { content: "\f11e"; }
.flaticon-032-oscar:before { content: "\f11f"; }
.flaticon-033-popcorn:before { content: "\f120"; }
.flaticon-034-poster:before { content: "\f121"; }
.flaticon-035-projector:before { content: "\f122"; }
.flaticon-036-rating:before { content: "\f123"; }
.flaticon-037-red-carpet:before { content: "\f124"; }
.flaticon-038-review:before { content: "\f125"; }
.flaticon-039-reward:before { content: "\f126"; }
.flaticon-040-spotlight:before { content: "\f127"; }
.flaticon-041-stage:before { content: "\f128"; }
.flaticon-042-storyboard:before { content: "\f129"; }
.flaticon-043-television:before { content: "\f12a"; }
.flaticon-044-ticket-office:before { content: "\f12b"; }
.flaticon-045-tripod:before { content: "\f12c"; }
.flaticon-046-video-camera:before { content: "\f12d"; }
.flaticon-047-view:before { content: "\f12e"; }

$font-Flaticon-001-3d-glasses: "\f100";
$font-Flaticon-002-accreditation: "\f101";
$font-Flaticon-003-actors: "\f102";
$font-Flaticon-004-actress: "\f103";
$font-Flaticon-005-age-limit: "\f104";
$font-Flaticon-006-animation: "\f105";
$font-Flaticon-007-audio-editing: "\f106";
$font-Flaticon-008-award: "\f107";
$font-Flaticon-009-camera: "\f108";
$font-Flaticon-010-camera-dolly: "\f109";
$font-Flaticon-011-camera-drone: "\f10a";
$font-Flaticon-012-cinema: "\f10b";
$font-Flaticon-013-clapperboard: "\f10c";
$font-Flaticon-014-comedy: "\f10d";
$font-Flaticon-015-countdown: "\f10e";
$font-Flaticon-016-director: "\f10f";
$font-Flaticon-017-director-chair: "\f110";
$font-Flaticon-018-dress: "\f111";
$font-Flaticon-019-dressing-room: "\f112";
$font-Flaticon-020-film-editing: "\f113";
$font-Flaticon-021-film-reel: "\f114";
$font-Flaticon-022-hearts: "\f115";
$font-Flaticon-023-horror-movie: "\f116";
$font-Flaticon-024-lens: "\f117";
$font-Flaticon-025-make-up: "\f118";
$font-Flaticon-026-megaphone: "\f119";
$font-Flaticon-027-microphone: "\f11a";
$font-Flaticon-028-mixer: "\f11b";
$font-Flaticon-029-money: "\f11c";
$font-Flaticon-030-movie-roll: "\f11d";
$font-Flaticon-031-music: "\f11e";
$font-Flaticon-032-oscar: "\f11f";
$font-Flaticon-033-popcorn: "\f120";
$font-Flaticon-034-poster: "\f121";
$font-Flaticon-035-projector: "\f122";
$font-Flaticon-036-rating: "\f123";
$font-Flaticon-037-red-carpet: "\f124";
$font-Flaticon-038-review: "\f125";
$font-Flaticon-039-reward: "\f126";
$font-Flaticon-040-spotlight: "\f127";
$font-Flaticon-041-stage: "\f128";
$font-Flaticon-042-storyboard: "\f129";
$font-Flaticon-043-television: "\f12a";
$font-Flaticon-044-ticket-office: "\f12b";
$font-Flaticon-045-tripod: "\f12c";
$font-Flaticon-046-video-camera: "\f12d";
$font-Flaticon-047-view: "\f12e";